
<%= form_for (@group), remote: true do |f| %>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">


    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.label :group_image %>
    <%= f.text_field :group_image, class: 'form-control' %>

    <%= f.label :members %>
    <div class="field">
      <%= collection_check_boxes(:group, :user_ids, @friends, :id, :name) %>
    </div>

    <%= f.hidden_field :group_admin_id, :value => current_user.id %>

  </div>
  <br>
  <%= f.submit "Submit", class:'btn btn-primary' %>
  <%= link_to "Cancle", groups_path, class:'btn btn--default' %>
  
<% end %>

