

        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
        	<!-- Add the bg color to the header using any of the bg-* classes -->
        	<div class="widget-user-image">
                <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
            </div><!-- /.widget-user-image -->
        	<div class="widget-user-header bg-yellow">
                  <span class="widget-user-username"><%=@group.name%></span>
                  <span class="pull-right ">
                  	<button class="btn btn-danger" onclick="hide_group_info()"> Close </button>
                  </span>
            </div>
                <div class="box-footer no-padding">
                	<ul class="nav nav-stacked">
						<li style="margin: 10px 0">
							<span> Members Numbers</span>
							<span class="pull-right badge bg-blue">
								<%= @group.users.count %>
							</span>
						</li>
						<li style="margin: 10px 0">
							<span> Group Admin</span>
							<span class="pull-right">
							<%= link_to User.find(@group.group_admin_id).name, :controller => "users", :action => "show"  %>
							</span>
						</li>
						<li style="margin: 10px 0">
							<span> Members </span>
							<% @group.users.each do |user| %>
								<span class="pull-right">
									<%= link_to user.name, :controller => "users", :action => "show"  %>
								</span>
								<br>
							<% end %>
						</li>
						<li style="margin: 10px 0" >
							<span> Description</span>
							<span class="pull-right">
								<%= @group.description %>
							</span>
						</li>                        
					</ul>
                </div>
            </div><!-- /.widget-user -->







<script type="text/javascript">
	function hide_group_info(){
		$("#group-data").slideUp(350);
	}
</script>