<% provide(:title, 'All users') %>

<section class="content-header">
  <h1>
    All Users
  </h1>
</section>

<!-- Main content -->
<section class="content">
	<%= will_paginate %>

	<%= form_tag(users_path, :method => "get", id: "search-form") do%>
	<!-- text field tag=action,args,identifier,placeholdertext... -->
	<div class="box-body">
	<div class="input-group">
	<span class="input-group-addon">@</span>
		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Friends", style: "width: 500px;" ,type: "Add Friend", data: {autocomplete: users_autocomplete_user_name_path} %>  
		<%= submit_tag "Search", class: "btn btn-primary" %>
		<%end%>
	</div>
	</div>

	<script type="text/javascript" charset="utf-8">
	  $('#search').bind('railsAutocomplete.select', function(event, data){
	  $('#search-form').submit()
	  });
	</script>

	<div class="row" style="overflow-y: scroll; height:440px;width:98%;">
	  	<%= render @users %>
	</div>

	<%= will_paginate %>
</section><!-- /.content -->

