
<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Latest Orders</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>description</th>
          <th>status</th>
          <th>date</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <% if order %>
            <tr>
              <td><%=link_to order.id,order_path(order) %></td>
              <td><%= order.description %></td>
              <td><span class="label label-<%=order.get_status_c%>"><%= order.get_status %></span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20"><%= order.created_at %></div>
              </td>
              <td><%= order.restaurant.name  if !order.restaurant.nil? %></td>
              <td><%=	button_to "edit" ,edit_order_path(order), method: 'get' %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->

</div><!-- /.box -->
<!--<td> link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} </td>-->