<div class="box">
  <div class="box-header">
    <h3 class="box-title center-block">  users orders
    </h3>
  </div>

  <% if @order.items_orders.blank? %>
      <p>no orders  yet</p>
  <% else %>
      <table class="table table-bordered">
        <tr>
          <th>item</th>
          <th>ordered by</th>
          <th>Amount</th>
          <th>Item price</th>
        </tr>
        <% total =0 %>
        <% @order.items_orders.each do |ordered_item| %>
            <tr>
              <td><%= ordered_item.item.name %></td>
              <td>
                <%= ordered_item.user.name %>
              </td>
              <td>
                <%= ordered_item.amount %>
              </td>
              <td>
                <%= ordered_item.item.price.to_s + cur %>
              </td>
            </tr>
            <% total += ordered_item.amount* ordered_item.item.price %>
        <% end %>
        <tr>
          <td>Total cost</td>
          <td><%= total.to_s + cur %></td>
        </tr>
      </table>

  <% end %>

</div>
