<h1>Restaurants</h1>
<div class="row">

  <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
        <!-- USERS LIST -->
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title"><%= restaurant.name %> - <%= restaurant.location %></h3>
            <div class="box-tools pull-right">
              <span class="label label-danger"><i class="glyphicon glyphicon-earphone g"></i> <%= restaurant.phone %></span>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body no-padding">
            <%= image_tag( restaurant.menu_image.url,
                           class: "img-circle center-block",
                           alt: "User Image",
                          width:"280",
                          height:"280"
                ) %>
          </div><!-- /.box-body -->
          <div class="box-footer text-center">
           <%= link_to "See menu" ,restaurant %>
          </div><!-- /.box-footer -->
        </div><!--/.box -->
      </div><!-- /.col -->
  <% end %>
  </div>
