<header class="main-header">
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>R</b>P</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Rails</b>Project</span>
  <% end %>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <%= audio_tag("notification.mp3", class: "notification-audio") %>
      <ul class="nav navbar-nav">
        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-danger count"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- User Account Menu -->
        <li class="user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#">
            <!-- The user image in the navbar-->
            <%= image_tag("user2-160x160.jpg", class: "user-image", alt: "User Image") %>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= if current_user then current_user.name end %></span>
          </a>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
        </li>
      </ul>
    </div>
  </nav>
</header>