<% provide(:title, "Sign Up") %>
<p class="login-box-msg">Register a new membership</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group has-feedback">
      <%= f.text_field :name, class: "form-control", placeholder: "Full name" %>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: "form-control estimate-password", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      <% if @validatable %>
          <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
      <% end %>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control estimate-password", placeholder: "Retype password" %>
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
      <span class="glyphicon glyphicon-phone form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.text_area :bio, class: "form-control", placeholder: "Bio" %>
      <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.file_field :avatar, class: "form-control", placeholder: "avata" %>
      <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <div class="row">
        <div class="col-xs-4">
          <%= f.submit "Register", class: "btn btn-primary btn-block btn-flat" %>
        </div><!-- /.col -->
      </div>
    </div>

    <%= render "users/shared/links" %>

<% end %>


